<%- include('includes/head.ejs') %>
<title><%= pageTitle %></title>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
    <h2><%= product.title %></h2>
        <div class="products">
                <div>
                    <form method="post" action="/admin/product-update/<%= product._id %>">
                        <div>
                            <input type="text" name="description" value="<%= product.description %>" />
                        </div>

                        <div>
                            <input type="text" name="price" value="<%= product.price %>" />
                        </div>

                        <div>
                            <input type="submit" value="save" />
                        </div>
                    </form>
                </div>
        </div>
    </main>        
</body>
</html>